<footer class="footer">
    <div class="row">
        <div class="col">
            <ul>
                <p>&#169 2025 Todos os Direitos Reservados</p>
                <li><a href="">Github</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a href="">Contacts</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </div>
    </div>
</footer>