<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/book-xxl.png" alt="To-Do List">
            To Do List
        </a>
    </div>
</nav>