<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/config') %>
    <link rel="stylesheet" href="/stylesheets/task.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <% if (tarefas && tarefas.length > 0) { %>
            <% tarefas.forEach(function(tarefa) { %>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title"><%= tarefa.tarefa %></h3>
                  <p class="card-text"><%= tarefa.descricao %></p>
                </div>
              </div>
            <% }); %>
          <% } else { %>
            <p>Nenhuma tarefa encontrada.</p>
          <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>